body{
	background: #000000;
}
header, article, footer{
	background: #EEEEEE;
	color: #333333;
}

#game_container, #chat_container{
	width: 100%;
}
#game_container{
	height: 200px;
}
#game_container #expansions_list ul{
	list-style: none;
}
#game_container #expansions_list ul li{
	display: inline;
}
#game_container #game ul{
	list-style: none;
}
#game_container #game ul li{
	display: inline;
}
#chat_container{
	height: 200px;
}
#chat_container #chat{
	width: 80%;
	height: 170px;
	float: left;
	overflow-y: scroll;
}
#chat_container #chat p{
	margin-top: 0em;
	margin-bottom: 0em;
	line-height: 1.2;
}
#chat_container #players{
	width: 20%;
	height: 200px;
	float: right;
	vertical-align: top;
	text-align: right;
}
#chat_container #players p.not_connected{
	color: #FF0000;
}
#chat_container #players p.in_game{
	color: #00FF00;
}
#chat_container #send_container{
	width: 100%;
	height: 30px;
	clear: both;
}

.nowrap{
	white-space: nowrap;
}
