{% include header.html %}
<article>
<table>
<thead>
<tr><th>Chat</th><th>Players</th></tr>
</thead>
<tbody>
<tr><td id="chat"></td><td id="players"></td></tr>
<tr><td><input id="message" type="text" onkeydown="if (event.keyCode == 13) chat();" /></td><td><button onclick="chat();">Send</button></td></tr>
</tbody>
</table>
{% if game.is_in(user) %}
<pre>
/------------------+-\ /--------------------+-\
| Current players  | | | Expansions         | |
+------------------+-+ +--------------------+-+
| user1            |^| | Base               |^|
| user2            | | | Australian Edition | |
| ...              |v| | CAHe1              | |
+------------------+-+ | CAHe2              | |
| Link: [link]     | | | ...                |v|
\------------------+-/ \--------------------+-/
</pre>
<p>Link to game: <a href="/game/{{ game.gid }}">Share me</a></p>
{% else %}
<pre>
/------------------+-\ /--------------------+-\
| Current players  | | | Expansions         | |
+------------------+-+ +--------------------+-+
| user1            |^| | Base               |^|
| user2            | | | Australian Edition | |
| ...              |v| | CAHe1              | |
+------------------+-+ | CAHe2              | |
| [Join][Spectate] | | | ...                |v|
\------------------+-/ \--------------------+-/
</pre>
<form method="POST">
<input type="submit" name="do" value="Join" /> <input type="submit" name="do" value="Spectate">
</form>
{% end if %}
</article>
{% include footer.html %}
