{% include header.html %}
<article>
<h2>Game</h2>
<div id="game_container">
	<div id="expansions_list">
		<ul>
{% for e in game.expansions %}
			<li>{{ e.name }}</li>
{% end for %}
		</ul>
	</div>
</div>
<h2>Chat</h2>
<div id="chat_container">
	<div id="chat">
	</div>
	<div id="players">
	</div>
	<div id="send_container">
		<input id="message" type="text" onkeydown="if (event.keyCode == 13) chat();" />
		<button onclick="chat();">Send</button>
	</div>
</div>
{% if game.is_in(user) %}
<p>Link to game: <a href="/game/{{ game.gid }}">Share me</a></p>
{% else %}
<form method="POST">
<input type="submit" name="do" value="Join" /> <input type="submit" name="do" value="Spectate">
</form>
{% end if %}
</article>
{% include footer.html %}
