{% include header.html %}
<article>
<form method="POST">
{% if errors %}
<div id="errors">
<p>The following errors occurred whilst attempting to login:</p>
<ul>
{% for e in errors %}
<li>{{ e }}</li>
{% end for %}
</ul>
</div>
{% end if %}
<input type="text" name="username" autofocus="autofocus" placeholder="Username" />
<br />
<input type="password" name="password" placeholder="Password" />
<br />
<input type="submit" value="Login" />
<br />
<span><a href="/register{% if handler.get_query_argument('return', None) is not None %}?return={{ url_escape(handler.get_query_argument('return', '%2F')) }}{% end if %}">Register</a> as new user instead.</span>
</form>
</article>
{% include footer.html %}
